<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/svg" href="~/Content/assets/images/svg/MM_Icon.svg">
    <title>@ViewBag.Title - M&M Enterprise</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

        @Html.Partial("_Navigation")

        <div class="ss_box_bg">
            <br />
            @RenderBody()
        </div>

        @Html.Partial("_Footer")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("Scripts", required: false)

</body>
</html>
