<section class="ss_index_one">
 
    <div class="container-fluid">
        <div class="ss_header">

            <div class="row">
                <div class="col-lg-3 col-md-7 col-sm-12 col-12 align-self-center">
                    <div class="ss_logo">
                        <a href="index.html"><img class="img-fluid" src="~/Content/assets/images/svg/MM_White_Small.svg" alt="logo" /></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-5 col-sm-12 col-12 align-self-center">
                    <div class="ss_menu">
                        <ul>

                            <li><a href='@Url.Action("Index", "Home")'>Inicio</a></li>

                            <li class="ss_menuP">
                                Mantenimiento
                                <ul class="ss_subMenu">
                                    @*<li><a href='@Url.Action("ListPerson", "Person")'>Persona</a></li>*@
                                    <li><a href='@Url.Action("ListEmployee", "Employee")'>Empleado</a></li>
                                    <li><a href='@Url.Action("ListUser", "User")'>Usuario</a></li>
                                    @*<li><a href='@Url.Action("Index", "Home")'>Servicio</a></li>*@
                                    <li><a href='@Url.Action("ListClient", "Client")'>Cliente</a></li>
                                </ul>
                            </li>
                            <li class="ss_menuP">
                                Transacciones
                                <ul class="ss_subMenu">
                                    <li><a href='@Url.Action("ListServiceRequest", "ServiceRequest")'>Solicitud de Servicio</a></li>
                                </ul>
                            </li>

                        </ul>
                        <div class="head_icon">
                            <div class="ss_menu_bar">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="signup.html" class="white_btn">Salir</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="ss_banner_main banner_three">
        </div>

    </div>
</section> 
