@using CustomerSupport.Models
@*@model MUser*@
<section class="ss_index_one">

    <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 col-12 text-right">
                    <div class="ss_menu">
                        <a href="#" class="d-block">
                            @if (Session["Usuario"] != null && ((MUser)Session["Usuario"]).Login != null)
                            {
                                MUser obj = new MUser();

                                obj = ((MUser)Session["Usuario"]);

                                @obj.Login.ToString();
                            }
                        </a>
                    </div>
                </div>
            </div>

            <div class="ss_header">

                <div class="row">
                    <div class="col-lg-3 col-md-7 col-sm-12 col-12 align-self-center">
                        <div class="ss_logo">
                            <a href="index.html"><img class="img-fluid" src="~/Content/assets/images/svg/MM_White_Small.svg" alt="logo" /></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-5 col-sm-12 col-12 align-self-center">
                        <div class="ss_menu">
                            <ul>

                                <li><a href='@Url.Action("Index", "Home")'>Inicio</a></li>

                                @if ((Session["Usuario"]) != null)
                                {

                                    //Recorremos las Padres
                                    foreach (var mOptionPadre in (((MUser)Session["Usuario"])).UserAccesPadre)
                                    {

                                        var Lis = (((MUser)Session["Usuario"])).UserAcces.Where(X => X.IdAssociated == mOptionPadre.IdOption && X.Visible == true).ToList();

                                        if (Lis.Count > 0)
                                        {
                                            <li class="ss_menuP">
                                                @mOptionPadre.OptionName

                                                <ul class="ss_subMenu">
                                                    @foreach (var mOptionAso in Lis)
                                                    {
                                                        if (mOptionAso.Visible == true)
                                                        {
                                                            <li><a href='@Url.Action(mOptionAso.Action, mOptionAso.Controller)'>@mOptionAso.OptionName</a></li>
                                                        }
                                                    }
                                                </ul>
                                            </li>

                                        }
                                    }
                                }


                            </ul>
                            <div class="head_icon">
                                <div class="ss_menu_bar">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <a href='@Url.Action("Close", "User")' class="white_btn">Salir</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            @*<div class="ss_banner_main banner_three">

        </div>*@

            <br />
            <br />
        </div>
</section>
