@model CustomerSupport.Models.MServiceRequest

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div class="control-label">Tipo de Propiedad:</div>
            @*@Html.EditorFor(model => model.IdIdentificationType, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.ValidationMessageFor(model => model.IdIdentificationType, "", new { @class = "text-danger" })*@
            <select name="ProperyType" id="ProperyType" class="form-control select2" style="width: 100%;">
                <option value="1">SRF (Single Family Resident)</option>
                <option value="2">Condominio</option>
                <option value="3">De 1 a 2 Unidades</option>
                <option value="4">De 3 a 4 Unidades</option>
                <option value="5">De 5 o mas Unidades</option>
                <option value="6">Comercial</option>
                <option value="7">Residencial</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="control-label">Direccion de la Propiedad:</div>
            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @rows = 3, @cols = 10 })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="control-label">Precio de Compra:</div>
            @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="control-label">Closing Cost:</div>
            @Html.TextBoxFor(model => model.ClosingCost, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClosingCost, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="control-label">Ingreso Promedio:</div>
            @Html.TextBoxFor(model => model.MonthlyIncome, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MonthlyIncome, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="control-label">Deudas/Pagos Promedio:</div>
            @Html.TextBoxFor(model => model.DebtPayment, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DebtPayment, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="control-label">PITI:</div>
            @Html.TextBoxFor(model => model.Piti, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Piti, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="control-label">RATIOS:</div>
            @Html.TextBoxFor(model => model.Ratios, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Ratios, "", new { @class = "text-danger" })
        </div>
    </div>
</div>