@model CustomerSupport.Models.MUser

@{
    ViewBag.Title = "Crear Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@ViewBag.Title</h3>
    </div>
    <div class="card-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="m-0 row justify-content-center">
                <div class="form-horizontal col-md-10">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="control-label">Codigo:</div>
                                @Html.TextBoxFor(model => model.IdUser, new { @class = "form-control", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.IdUser, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="control-label">Persona:</div>
                                <input class="form-control" id="LisPerson" value="Seleccione" />
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="control-label">Login:</div>
                                @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="control-label">Clave:</div>
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Estatus:</label>
                            <div class="s_status">
                                <label>
                                    <span id="labEstatus"></span>
                                    @Html.CheckBoxFor(model => model.Status, new { @class = "form-control", @id = "chkStatus" })
                                    <span class="s_st_checkbox"></span>
                                </label>
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <br />

                    <div class="row">
                        <div class="col-md-10">
                            <div id="demo">
                                <div class="table-responsive">
                                    <div class="container">
                                        <table id="TMenuOptions" class="display table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        Opción
                                                    </th>
                                                    @*<th class="w-20">
                                                            Visible
                                                        </th>
                                                        <th>
                                                            Crear
                                                        </th>
                                                        <th>
                                                            Buscar
                                                        </th>
                                                        <th>
                                                            Editar
                                                        </th>
                                                        <th>
                                                            Eliminar
                                                        </th>*@
                                                </tr>
                                            </thead>

                                            @foreach (var item in Model.UserAcces)
                                            {
                                                <tr>
                                                    <td><img src="/Content/assets/images/details_open.png" alt="expand/collapse" rel="@item.IdOption" /></td>
                                                    <td>
                                                        @item.OptionName
                                                    </td>

                                                </tr>
                                            }

                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="form-group">
                                <div class="text-center">
                                    <a href="location.href='@Url.Action("Create", "Person")';return false;" class="white_btn">Grabar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Regresar a la Lista", "ListUser")
        </div>


    </div>
</div>
@section Scripts {

    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/Content/assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script type="text/javascript">

    //$('#LisPerson').inputpicker({
    //    data: [
    //        { IdPerson: "1", IdentificationType: "Pasaporte", IdentificationNumber: "12345672", Name: "Pedro", LastName: "Perez", Position: "Operador" },
    //        { IdPerson: "2", IdentificationType: "Pasaporte", IdentificationNumber: "14270679", Name: "Ana", LastName: "Lucena", Position: "Encargado de Vtas" },
    //        { IdPerson: "3", IdentificationType: "Pasaporte", IdentificationNumber: "88888888", Name: "Jose", LastName: "Rojas", Position: "Procesador" }
    //    ],
    //    fields: [
    //        { name: 'IdPerson', text: 'Codigo' },
    //        { name: 'IdentificationType', text: 'Tipo Identificación' },
    //        { name: 'IdentificationNumber', text: 'Identificación' },
    //        { name: 'Name', text: 'Nombre' },
    //        { name: 'LastName', text: 'Apellido' },
    //        { name: 'Position', text: 'Cargo' }
    //    ],
    //    headShow: true,
    //    fieldText: 'IdentificationNumber',
    //    fieldValue: 'Name',
    //    filterOpen: true,
    //    selectMode: null,
    //    pagination: false,
    //    responsive: true
    //});

    $(document).ready(function () {

        // If the checkbox is checked, display the output text
        if ($("#chkStatus").checked == true) {
            $("#labEstatus").text("Activo");
        } else {
            $("#labEstatus").text("Inactivo");
        }

        $("#chkStatus").on('click', function () {

            var IsSelected = $('#chkStatus').is(":checked");

            // If the checkbox is checked, display the output text
            if (IsSelected == true) {
                $("#labEstatus").text("Activo");
            } else {
                $("#labEstatus").text("Inactivo");
            }

        });

                    $('#TMenuOptions tbody td img').click(function () {
                var nTr = this.parentNode.parentNode;
                var objtable = "<table class='display table table-bordered table - striped' >";
                objtable += "<tr><th></th><th>Opcion</th><th>Visible</th><th>Crear</th><th>Buscar</th><th>Editar</th><th>Eliminar</th></tr>";

                if (this.src.match('details_close')) {
                    /* This row is already open - close it */
                    this.src = "/Content/assets/images/details_open.png";
                    oTable.fnClose(nTr);
                }
                else {
                    /* Open this row */
                    this.src = "/Content/assets/images/details_close.png";
                    var OptionId = $(this).attr("rel");
                    var IdUser = $("#IdUser").val();
                    var existe = 0;
                    var params = {
                        IdUser: IdUser,
                        IdAssociated: OptionId
                    };
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("DetailMenuOption", "User")',
                        data: params,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        dataSrc: '',
                        success: function (data) {

                            $.each(data, function (index, item) {
                                objtable += "<tr><td colspan='2'>" + item.OptionName + "</td>";

                                if (item.Visible.toString() == "true") {
                                    objtable += "<td><div class='s_status'><span id='labEstatus'></span><input type=checkbox id=chk1 checked=checked name='item[]'><span class='s_st_checkbox'></span></label></div></td>";
                                }
                                else {
                                    objtable += "<td><div class='s_status'><span id='labEstatus'></span><input type=checkbox id=chk1 name='item[]'><span class='s_st_checkbox'></span></label></div></td>";
                                }

                                if (item.Create.toString() == "true") {
                                    objtable += "<td><div class='s_status'><span id='labEstatus'></span><input type=checkbox id=chk1 checked=checked name='item[]' ><span class='s_st_checkbox'></span></label></div></td>";
                                }
                                else {
                                    objtable += "<td><div class='s_status'><span id='labEstatus'></span><input type=checkbox id=chk1 name='item[]'><span class='s_st_checkbox'></span></label></div></td>";
                                }

                                if (item.Search.toString() == "true") {
                                    objtable += "<td><div class='s_status'><span id='labEstatus'></span><input type=checkbox id=chk1 checked=checked name='item[]'><span class='s_st_checkbox'></span></label></div></td>";
                                }
                                else {
                                    objtable += "<td><div class='s_status'><span id='labEstatus'></span><input type=checkbox id=chk1 name='item[]'><span class='s_st_checkbox'></span></label></div></td>";
                                }

                                if (item.Edit.toString() == "true") {
                                    objtable += "<td><div class='s_status'><span id='labEstatus'></span><input type=checkbox id=chk1 checked=checked name='item[]' ><span class='s_st_checkbox'></span></label></div></td>";
                                }
                                else {
                                    objtable += "<td><div class='s_status'><span id='labEstatus'></span><input type=checkbox id=chk1 name='item[]'><span class='s_st_checkbox'></span></label></div></td>";
                                }

                                if (item.Delete.toString() == "true") {
                                    objtable += "<td><div class='s_status'><span id='labEstatus'></span><input type=checkbox id=chk1 checked=checked name='item[]' ><span class='s_st_checkbox'></span></label></div></td>";
                                }
                                else {
                                    objtable += "<td><div class='s_status'><span id='labEstatus'></span><input type=checkbox id=chk1 name='item[]'><span class='s_st_checkbox'></span></label></div></td>";
                                }

                                existe = 1;
                            });
                            if (existe == 1)
                                objtable += "</table>";
                            else
                                objtable = "";

                            oTable.fnOpen(nTr, objtable, 'details');

                        }
                    });
                }
            });

            /* Initialize table and make first column non-sortable*/
            oTable = $('#TMenuOptions').dataTable({
                "bJQueryUI": true,
                "Columns": [{ "bSortable": false, "bSearchable": false,"Width":"5%" },
                   null
                ],
                "bAutoWidth": false,
                "bInfo": false,
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "No existen Registros",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });

    });
    </script>
}
