@model CustomerSupport.Models.MUser

@{
    ViewBag.Title = "Crear Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@ViewBag.Title</h3>
    </div>
    <div class="card-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="m-0 row justify-content-center">
                <div class="form-horizontal col-md-10">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="control-label">Codigo:</div>
                                @Html.TextBoxFor(model => model.IdUser, new { @class = "form-control", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.IdUser, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="control-label">Persona:</div>
                                <input class="form-control" id="LisPerson" value="Seleccione" />
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="control-label">Login:</div>
                                @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="control-label">Clave:</div>
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Estatus:</label>
                            <div class="s_status">
                                <label>
                                    <span id="labEstatus"></span>
                                    @Html.CheckBoxFor(model => model.Status, new { @class = "form-control", @id = "chkStatus" })
                                    <span class="s_st_checkbox"></span>
                                </label>
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="table-responsive">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseCard" aria-expanded="true" aria-controls="collapseOne">
                                                Opciones de Usuario
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseCard" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col"></th>
                                                        <th scope="col">Opción</th>
                                                        <th scope="col">Crear</th>
                                                        <th scope="col">Consultar</th>
                                                        <th scope="col">Modificar</th>
                                                        <th scope="col">Eliminar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                                                        <td class="expand-button"></td>
                                                        <td>Mantenimiento</td>
                                                        <td>
                                                            <div class="s_status">
                                                                <input type="checkbox">
                                                                <span class="s_st_checkbox"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="s_status">
                                                                <input type="checkbox">
                                                                <span class="s_st_checkbox"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="s_status">
                                                                <input type="checkbox">
                                                                <span class="s_st_checkbox"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="s_status">
                                                                <input type="checkbox">
                                                                <span class="s_st_checkbox"></span>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr class="hide-table-padding">
                                                        <td></td>
                                                        <td colspan="3">
                                                            <div id="collapseOne" class="collapse in p-3">
                                                                <div class="row">
                                                                    <div class="col-2">Persona</div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-2">Usuario</div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-2">Servicio</div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-2">Cliente</div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="accordion-toggle collapsed" id="accordion2" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                                        <td class="expand-button"></td>
                                                        <td>Transacciones</td>
                                                        <td>
                                                            <div class="s_status">
                                                                <input type="checkbox">
                                                                <span class="s_st_checkbox"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="s_status">
                                                                <input type="checkbox">
                                                                <span class="s_st_checkbox"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="s_status">
                                                                <input type="checkbox">
                                                                <span class="s_st_checkbox"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="s_status">
                                                                <input type="checkbox">
                                                                <span class="s_st_checkbox"></span>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr class="hide-table-padding">
                                                        <td></td>
                                                        <td colspan="4">
                                                            <div id="collapseTwo" class="collapse in p-3">
                                                                <div class="row">
                                                                    <div class="col-2">Persona</div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="s_status">
                                                                            <input type="checkbox">
                                                                            <span class="s_st_checkbox"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="form-group">
                                <div class="text-center">
                                    <a href="location.href='@Url.Action("Create", "Person")';return false;" class="white_btn">Grabar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Regresar a la Lista", "ListUser")
        </div>


    </div>
</div>
@section Scripts {
<script type="text/javascript">

    $('#LisPerson').inputpicker({
        data: [
            { IdPerson: "1", IdentificationType: "Pasaporte", IdentificationNumber: "12345672", Name: "Pedro", LastName: "Perez", Position: "Operador" },
            { IdPerson: "2", IdentificationType: "Pasaporte", IdentificationNumber: "14270679", Name: "Ana", LastName: "Lucena", Position: "Encargado de Vtas" },
            { IdPerson: "3", IdentificationType: "Pasaporte", IdentificationNumber: "88888888", Name: "Jose", LastName: "Rojas", Position: "Procesador" }
        ],
        fields: [
            { name: 'IdPerson', text: 'Codigo' },
            { name: 'IdentificationType', text: 'Tipo Identificación' },
            { name: 'IdentificationNumber', text: 'Identificación' },
            { name: 'Name', text: 'Nombre' },
            { name: 'LastName', text: 'Apellido' },
            { name: 'Position', text: 'Cargo' }
        ],
        headShow: true,
        fieldText: 'IdentificationNumber',
        fieldValue: 'Name',
        filterOpen: true,
        selectMode: null,
        pagination: false,
        responsive: true
    });

    $(document).ready(function () {

        // If the checkbox is checked, display the output text
        if ($("#chkStatus").checked == true) {
            $("#labEstatus").text("Activo");
        } else {
            $("#labEstatus").text("Inactivo");
        }

        $("#chkStatus").on('click', function () {

            var IsSelected = $('#chkStatus').is(":checked");

            // If the checkbox is checked, display the output text
            if (IsSelected == true) {
                $("#labEstatus").text("Activo");
            } else {
                $("#labEstatus").text("Inactivo");
            }

        });


    });
</script>
}
